.heading{
    margin: 3%;
}
.mat-form-field{
    width:30rem;
 }
.form-div, .submit-div{
    margin: auto;
    width: 100%;
    border: 1px solid #0d0fab;
    padding: 1% 4% 1% 4%;
    /* font-size: 20px; */
    /* font-family: Arial, Helvetica, sans-serif; */
    box-shadow: 5px 10px #7c7c7c57;
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: max-content;
}
mat-hint{
    color: #cf0505;
}
.left-align{
    text-align: left;
    padding: 2%;
}