mat-hint{
    color: #cf0505;
}

/* .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; 
} */
/* .form-group {
    margin-bottom: 1rem;
} */
  
label {
    display: block;
    margin-bottom: .5rem;
}
  
select {
    width: 100%;
    padding: .5rem;
}
.form-div, .submit-div{
    margin: auto;
    width: 100%;
    border: 1px solid #0d0fab;
    padding: 1% 10% 1% 10%;
    /* font-size: 20px; */
    /* font-family: Arial, Helvetica, sans-serif; */
    box-shadow: 5px 10px #7c7c7c57;
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: max-content;
}