

<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/contact-us" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</a></li>
    <li><a routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a></li>
    <li><a routerLink="/no-route" routerLinkActive="active" ariaCurrentWhenActive="page">Error page</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

<hello-world></hello-world>
<paragraph></paragraph>
<!-- use parentheses in the third operand so the pipe applies to the whole expression -->
{{ (true ? 'true' : 'false') | uppercase }}
{{name | uppercase}}