.button {
    box-shadow: inset 0 1px 0 0 #ffffff;
    background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    outline: 0;
}
button{
    margin: 1rem;
}
ul{
    list-style: none;
}
li{
    display: inline;
    margin: 5px;
}
/* .active {
    box-shadow: inset 0 1px 0 0 #dcecfb;
    background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    border: 1px solid #84bbf3;
    color: #ffffff;
    text-shadow: 0 1px 0 #528ecc;
} */
.active {
    box-shadow: inset 0 1px 0 0 #dcecfb;
    background: #bddbfa linear-gradient(to bottom, #62b0ff 5%, #3191f1 100%);
    border: 1px solid #499cef;
    color: #ffffff;
    text-shadow: 0 1px 0 #528ecc;
}
.error {
    box-shadow: inset 0 1px 0 0 #dcecfb;
    background: #bddbfa linear-gradient(to bottom, #ff6262 5%, #f13131 100%);
    border: 1px solid #ef4949;
    color: #ffffff;
    text-shadow: 0 1px 0 #cc5252;
}
/* div{
    align-items: center;
    border: 1px solid black;
} */
.nav-bar{
    justify-content: space-between;
}
mat-sidenav-container{
    height: max-content;
    min-height: 100%;
}
mat-sidenav, mat-sidenav-content{
    padding: 16px;
}
mat-sidenav{
    background-color: indigo;
    width: 200px;
}
.img-style{
    background-color: white ;
    padding:4px; 
    border-radius: 5px;
}
/*
.page-container {
    height: 100%;
    background: #fafafa;
    color: #000;

    display: flex;
    flex-direction: column;

    a {
        color: inherit;
        text-decoration: none;
    }

    header {
        background: #3f51b5;
        color: #fff;

        padding: 18px 24px;
        
        font-size: 14px;
        font-weight: bold;

        display: flex;
        justify-content: space-between;

        .menu-button {
            margin-right: 24px;
            min-width: 0;
            padding: 0;
            line-height: normal;
        }

        .app-title {
            padding: 0 3px;
        }
    }
}
*/
.menu-button {
    margin-right: 24px;
    min-width: 0;
    padding: 0;
    line-height: normal;
}
.side-active{
    color: yellow;
}