

<h1>Angular App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a class="button" routerLink="/contact-us" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</a></li>
    <li><a class="button" routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a></li>
    <li><a class="button" routerLink="/no-route" routerLinkActive="active" ariaCurrentWhenActive="page">Error page</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

<!-- <hello-world></hello-world> -->
<!-- <paragraph></paragraph> -->
<!-- use parentheses in the third operand so the pipe applies to the whole expression -->
<!-- {{ (true ? 'true' : 'false') | uppercase }} -->
<!-- {{name | uppercase}} -->